<div id="xmmaLightbox">
	<div id="xmmaLightboxBackground"></div>
	<div id="xmmaLightboxContent"></div>
	<div id="xmmaLightboxNav">		
		<div id="xmmaLightboxNavPrev"><div id="xmmaLightboxNavPrevButton"></div></div>
		<div id="xmmaLightboxNavNext"><div id="xmmaLightboxNavNextButton"></div></div>
		<div id="xmmaLightboxNavClose"></div>
		<div id="xmmaLightboxLoading">{LOADING_TEXT}</div>
	</div>
	<div id="xmmaLightboxInfo">
		<div id="xmmaLightboxTitle">Image Title</div>
		<div id="xmmaLightboxDesc">Image Description</div>
		<div id="xmmaLightboxCount">Image Counter</div>
	</div>
</div>