<div class="xmmaVideo">
	<a class="xmmaThumb" href="{VIDEO_LINK}" data-id="{DATA_ID}" data-title="{VIDEO_TITLE}" data-desc="{VIDEO_DESC}" data-type="video" data-iframe="{VIDEO_IFRAME}" style="width:{THUMB_SIZE}px; height:{THUMB_SIZE}px;">
		<img src="{THUMB_LINK}" width="{THUMB_SIZE}" height="{THUMB_SIZE}" title="{VIDEO_TITLE}" alt="{VIDEO_DESC}">
		<span class="xmmaVideoOverlay" style="width:{THUMB_SIZE}px; height:{THUMB_SIZE}px;"></span>
	</a>
	<div class="xmmaVideoTitle" title="{VIDEO_TITLE}">{VIDEO_TITLE}</div>	
</div>