<div class="xmmaImage">
	<a class="xmmaThumb" href="{IMG_LINK}" data-id="{DATA_ID}" data-title="{IMG_TITLE}" data-desc="{IMG_DESC}" data-type="image" data-download="{IMG_ORIG_LINK}" style="width:{THUMB_SIZE}px; height:{THUMB_SIZE}px;">
		<img src="{THUMB_LINK}" width="{THUMB_WIDTH}" height="{THUMB_HEIGHT}" title="{IMG_TITLE}" alt="{IMG_DESC}" style="margin-top:{THUMB_OFFSET_TOP}px;">
		<span class="xmmaImageOverlay" style="width:{THUMB_SIZE}px; height:{THUMB_SIZE}px;"></span>
	</a>
	<div class="xmmaImageTitle" title="{IMG_TITLE}">{IMG_TITLE}</div>	
	<div class="xmmaImageDownload"><a href="{IMG_DOWNLOAD_LINK}" target="_blank">{DOWNLOAD_TEXT}</a></div>
</div>