/* GENERAL */
div.xmmaToolbar {
	padding: 5px 0;
	border-bottom: 1px dotted #C9D3E7;
	height: 25px;
	display: none;
}
div.xmmaToolbarLabel {
	border: 1px solid transparent;
	/*background: #FF9999;*/
	line-height: 25px;
	float: left;
	padding: 0 5px;
	margin: 0 3px;
}
div.xmmaToolbarButton {
	border: 1px solid #C9D3E7;
	/*width: 30px;*/
	background: red;
	line-height: 25px;
	float: left;
	padding: 0 10px;
	border-radius: 3px;	
	margin: 0 3px;
}
.xmmaRight {
	float: right;
}
#xmmaAlbum {
}

/* LIST */
div.xmmaImage,
div.xmmaVideo {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    
	position: relative;
	float: left;
    padding: 10px 15px 20px 15px;
	overflow: hidden;
}
div.xmmaImage:hover div.xmmaImageDownload {
	display: inline;
}
div.xmmaImage:hover div.xmmaImageTitle {
	/*display: inline;*/
}
div.xmmaImage:hover span.xmmaImageOverlay {
	background: transparent url(images/fullscreen_overlay.png) no-repeat center center;
}
div.xmmaVideo:hover span.xmmaVideoOverlay {
	background: transparent url(images/fullscreen_overlay_video.png) no-repeat center center;
}

a.xmmaThumb {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    
	padding: 0;
	display: block;
	text-align: center;
	outline: none;
}

span.xmmaImageOverlay,
span.xmmaVideoOverlay {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    
	position: absolute;
	display: block;
    padding: 15px;
	top: 0;
	left: 0;
	cursor: pointer;
}

div.xmmaImageTitle,
div.xmmaVideoTitle {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    
	position: absolute;
	top: -3px;
	left: 15px;
	right: 15px;
	text-align: center;
	color: #000000;
	font-size: 12px;
	line-height: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    
    display: none;
}

div.xmmaImageDownload {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    
	position: absolute;
	display: none;
	bottom: 0;
	left: 15px;
	right: 15px;
	text-align: center;
	font-size: 12px;
	line-height: 20px;	
	white-space: nowrap;
    
	overflow: hidden;
}
div.xmmaImageDownload > a {
	outline: none;
    color: black;
	pointer-events: default;
}
div.xmmaImageDownload > a:hover {
	/*background: transparent url(images/download.png) no-repeat 4px -18px;*/
}

/* TILES */
div.xmmaImageTile {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    
	position: relative;
	float: left;
	margin: 20px 10px;
	padding: 5px;
	background: #000000;
}
div.xmmaImageTile > a {
	display: block;
}

/* LIGHTBOX */
#xmmaLightbox {
	position: fixed;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
    display: none;
	z-index: 10000;
}
#xmmaLightboxBackground {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: #202020 url(images/lightbox_bg.png) repeat-x 0px 0px;
}
#xmmaLightboxContent {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
#xmmaLightboxNav {
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
#xmmaLightboxNavPrev {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 88px;
	cursor: pointer;
}
#xmmaLightboxNavPrev > div {
	position: absolute;
	width: 48px;
	height: 48px;
	top: 50%;
	left: 20px;
	margin-top: -30px;
	cursor: pointer;
	background: transparent url(images/lightbox_nav_bg.png) no-repeat 0px 0px;
}
#xmmaLightboxNavPrev:hover > div {
	background: transparent url(images/lightbox_nav_bg.png) no-repeat 0px -48px;
}

#xmmaLightboxNavNext {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 88px;
	cursor: pointer;
}
#xmmaLightboxNavNext > div {
	position: absolute;
	width: 48px;
	height: 48px;
	top: 50%;
	right: 20px;
	margin-top: -30px;
	cursor: pointer;
	background: transparent url(images/lightbox_nav_bg.png) no-repeat -48px 0px;
}
#xmmaLightboxNavNext:hover > div {
	background: transparent url(images/lightbox_nav_bg.png) no-repeat -48px -48px;
}

#xmmaLightboxNavClose {
	position: absolute;
	width: 48px;
	height: 48px;
	right: 20px;
	top: 20px;
	cursor: pointer;
	background: transparent url(images/lightbox_nav_bg.png) no-repeat -96px 0px;
}
#xmmaLightboxNavClose:hover {
	background: transparent url(images/lightbox_nav_bg.png) no-repeat -96px -48px;
}
#xmmaLightboxLoading {
	position: absolute;
	left: 50%;
	top: 50%;
	padding: 10px 20px;
	border-radius: 8px;
	color: #FFFFFF;
	background: transparent url(images/lightbox_info_bg.png) repeat left top;
}
#xmmaLightboxInfo {
	position: absolute;
	max-width: 500px;
	left: 20px;
	bottom: 20px;
	padding: 10px 20px;	
	border-radius: 8px;
	background: transparent url(images/lightbox_info_bg.png) repeat left top;
}
#xmmaLightboxTitle {
	font-size: 14px;
	color: #FFFFFF;
	padding-bottom: 3px;
}
#xmmaLightboxDesc {
	font-size: 11px;
	color: #DDDDDD;
	padding-bottom: 3px;
}
#xmmaLightboxCount {
	font-size: 11px;
	color: #DDDDDD;
}

/* VIDEO IFRAME */
#mmpvideoiframe {
	background: #202020;
}


